[id="about"] {
    margin: 30px 100px;
}

@media (max-width: 1200px) {
    [id="about"] {
        margin: 30px 30px;
    }
}

@media (max-width: 768px) {
    [id="about"] {
        margin: 30px;
    }
}