.host {
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
    flex-flow: row-reverse;
}
  
.host figcaption {
      color: #ff6060;
      text-align: left;
    }
  
.host img {
      border-radius: 50%;
      height: 64px;
      width: 64px;
    }
