.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center; 
    padding: 60px 0 40px;
    background-color: black; 

    img {
        margin-bottom: 40px;
    }

    p {
        margin: 0;
        font-size: 1rem; 
        color: white;
    }
}

@media (max-width: 768px) {
    .footer {
        padding: 60px 20px;
    }

    .footer img {
        margin-bottom: 20px;
    }

    .footer p {
        width: 150px;
    }
}