nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 30px 100px 0;
}

nav img {
  width: 145px;
}

nav ul {
  display: flex;
  gap: 40px;
  list-style: none;
}

nav li {
  font-size: 1.4rem;
}

nav a {
  color: black;
}

nav a:hover,
nav a:focus {
  text-decoration: underline;
}

nav a.active {
  text-decoration: underline;
}

@media (max-width: 1200px) {
  nav {
    margin: 30px 50px 0;
  }
}

@media (max-width: 768px) {
  nav {
    margin: 30px 50px 0;
  }

  nav img {
    width: 200px;
  }
  
  nav ul {
    text-transform: uppercase;
    }

  nav li {
    font-size: 1.2rem;
    }
  }

